In [1]:
import pandas as pd
from datetime import datetime as dt
pd.options.display.max_colwidth = 200

In [2]:
df1 = pd.read_csv("fake_data_address.csv",sep=',')
df2 = pd.read_csv("fake_data_dob.csv",sep=',')

C:\Users\Connor Thomas\AppData\Local\Temp\ipykernel_10864\1400648591.py:1: DtypeWarning: Columns (1,2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv("fake_data_address.csv",sep=',')
C:\Users\Connor Thomas\AppData\Local\Temp\ipykernel_10864\1400648591.py:2: DtypeWarning: Columns (1,2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv("fake_data_dob.csv",sep=',')

In [3]:
df1.head(-5)

,id,first_name,middle_name,last_name,Line 1: address Line 2: address2,state-city,zip
0,1.0,Jerrylee,Terrel,Sanchis,Line 1: 4 Continental Trail Line 2:,IL-Peoria,61614.0
1,2.0,Florenza,Jethro,Shapera,Line 1: 0259 Messerschmidt Street Line 2:,PA-Erie,16565.0
2,3.0,Agustin,Juan,Mart,Line 1: 3461 Bartillon Lane Line 2: Suite 26,CA-Van Nuys,91499.0
3,4.0,Pammi,Renell,Ticic,Line 1: 78266 Lien Road Line 2: PO Box 68671,PA-Reading,19610.0
4,5.0,Conn,Tybalt,Sprasen,Line 1: 4392 Duke Place Line 2: Suite 79,WA-Spokane,99215.0
...,...,...,...,...,...,...,...
1048565,NaN,NaN,NaN,NaN,Line 1: Line 2:,-,NaN
1048566,NaN,NaN,NaN,NaN,Line 1: Line 2:,-,NaN
1048567,NaN,NaN,NaN,NaN,Line 1: Line 2:,-,NaN
1048568,NaN,NaN,NaN,NaN,Line 1: Line 2:,-,NaN
1048569,NaN,NaN,NaN,NaN,Line 1: Line 2:,-,NaN

In [4]:
df1['full_name'] = df1['last_name'] + ', ' + df1['first_name'] + ' ' + df1['middle_name']
df1.head()

,id,first_name,middle_name,last_name,Line 1: address Line 2: address2,state-city,zip,full_name
0,1.0,Jerrylee,Terrel,Sanchis,Line 1: 4 Continental Trail Line 2:,IL-Peoria,61614.0,"Sanchis, Jerrylee Terrel"
1,2.0,Florenza,Jethro,Shapera,Line 1: 0259 Messerschmidt Street Line 2:,PA-Erie,16565.0,"Shapera, Florenza Jethro"
2,3.0,Agustin,Juan,Mart,Line 1: 3461 Bartillon Lane Line 2: Suite 26,CA-Van Nuys,91499.0,"Mart, Agustin Juan"
3,4.0,Pammi,Renell,Ticic,Line 1: 78266 Lien Road Line 2: PO Box 68671,PA-Reading,19610.0,"Ticic, Pammi Renell"
4,5.0,Conn,Tybalt,Sprasen,Line 1: 4392 Duke Place Line 2: Suite 79,WA-Spokane,99215.0,"Sprasen, Conn Tybalt"

In [5]:
df2 = df2.rename(columns={'last_name, first_name middle_name':'full_name'})
df2.head(-5)

,full_name,dob,email,guid
0,"Sanchis, Jerrylee Terrel",11/20/1924,tsanchis0@google.cn,38b23627-9118-4180-b0d5-1396b8c99056
1,"Shapera, Florenza Jethro",3/14/1923,jshapera1@howstuffworks.com,70f362c6-ad87-4e31-aa51-1f829fcdcebb
2,"Mart, Agustin Juan",12/19/1941,jmart2@yahoo.co.jp,6b4cf83d-a760-4546-9b2a-2bbe146007f3
3,"Ticic, Pammi Renell",8/2/1979,rticic3@php.net,31c21b5d-7cdd-4acd-8592-b156b2e519c7
4,"Sprasen, Conn Tybalt",4/14/1966,tsprasen4@dagondesign.com,ecd3fec5-e4ec-45ff-91b0-bb0db86596a9
...,...,...,...,...
1048565,",",NaN,NaN,NaN
1048566,",",NaN,NaN,NaN
1048567,",",NaN,NaN,NaN
1048568,",",NaN,NaN,NaN
1048569,",",NaN,NaN,NaN

In [6]:
#df3 = pd.merge(df1,df2,on='full_name')
#df3

In [7]:
df1['address_line_1'] = df1['Line 1: address Line 2: address2'].str.extract(r'^Line 1: (.*)(?:Line 2: )')
df1['address_line_2'] = df1['Line 1: address Line 2: address2'].str.extract(r'Line 2: (.*$)')
df1

,id,first_name,middle_name,last_name,Line 1: address Line 2: address2,state-city,zip,full_name,address_line_1,address_line_2
0,1.0,Jerrylee,Terrel,Sanchis,Line 1: 4 Continental Trail Line 2:,IL-Peoria,61614.0,"Sanchis, Jerrylee Terrel",4 Continental Trail,
1,2.0,Florenza,Jethro,Shapera,Line 1: 0259 Messerschmidt Street Line 2:,PA-Erie,16565.0,"Shapera, Florenza Jethro",0259 Messerschmidt Street,
2,3.0,Agustin,Juan,Mart,Line 1: 3461 Bartillon Lane Line 2: Suite 26,CA-Van Nuys,91499.0,"Mart, Agustin Juan",3461 Bartillon Lane,Suite 26
3,4.0,Pammi,Renell,Ticic,Line 1: 78266 Lien Road Line 2: PO Box 68671,PA-Reading,19610.0,"Ticic, Pammi Renell",78266 Lien Road,PO Box 68671
4,5.0,Conn,Tybalt,Sprasen,Line 1: 4392 Duke Place Line 2: Suite 79,WA-Spokane,99215.0,"Sprasen, Conn Tybalt",4392 Duke Place,Suite 79
...,...,...,...,...,...,...,...,...,...,...
1048570,NaN,NaN,NaN,NaN,Line 1: Line 2:,-,NaN,NaN,,
1048571,NaN,NaN,NaN,NaN,Line 1: Line 2:,-,NaN,NaN,,
1048572,NaN,NaN,NaN,NaN,Line 1: Line 2:,-,NaN,NaN,,
1048573,NaN,NaN,NaN,NaN,Line 1: Line 2:,-,NaN,NaN,,
1048574,NaN,NaN,NaN,NaN,Line 1: Line 2:,-,NaN,NaN,,

In [8]:
df3 = pd.merge(df1,df2,on='full_name')
df3 = df3.drop(['Line 1: address Line 2: address2','full_name'],axis=1)
df3

,id,first_name,middle_name,last_name,state-city,zip,address_line_1,address_line_2,dob,email,guid
0,1.0,Jerrylee,Terrel,Sanchis,IL-Peoria,61614.0,4 Continental Trail,,11/20/1924,tsanchis0@google.cn,38b23627-9118-4180-b0d5-1396b8c99056
1,2.0,Florenza,Jethro,Shapera,PA-Erie,16565.0,0259 Messerschmidt Street,,3/14/1923,jshapera1@howstuffworks.com,70f362c6-ad87-4e31-aa51-1f829fcdcebb
2,3.0,Agustin,Juan,Mart,CA-Van Nuys,91499.0,3461 Bartillon Lane,Suite 26,12/19/1941,jmart2@yahoo.co.jp,6b4cf83d-a760-4546-9b2a-2bbe146007f3
3,4.0,Pammi,Renell,Ticic,PA-Reading,19610.0,78266 Lien Road,PO Box 68671,8/2/1979,rticic3@php.net,31c21b5d-7cdd-4acd-8592-b156b2e519c7
4,5.0,Conn,Tybalt,Sprasen,WA-Spokane,99215.0,4392 Duke Place,Suite 79,4/14/1966,tsprasen4@dagondesign.com,ecd3fec5-e4ec-45ff-91b0-bb0db86596a9
...,...,...,...,...,...,...,...,...,...,...,...
995,996.0,Lionel,Iorgos,Haldon,FL-Tampa,33694.0,5001 Nova Park,,8/15/1943,ihaldonrn@foxnews.com,3de6451a-e05d-4076-99dc-23254748a4be
996,997.0,Josepha,Dorthy,Simmonite,WI-Madison,53785.0,8604 Chinook Circle,Apt 415,12/7/1928,dsimmonitero@tiny.cc,21f2c2b9-97fd-4805-8db1-09c0db52d2a4
997,998.0,Dredi,Clerissa,Ellerker,MN-Minneapolis,55423.0,03933 Mendota Court,,7/5/1966,cellerkerrp@who.int,253004a1-fe67-42e7-8182-c01e5d145e61
998,999.0,Shela,Lian,Garnsworth,NY-Rochester,14619.0,7 Upham Place,,10/4/1942,lgarnsworthrq@redcross.org,377c5a07-bdc2-4e9d-a9d3-2a53b3355242
999,1000.0,Esteban,Rosemonde,Digg,OH-Dayton,45403.0,4 Golf Course Terrace,,2/10/1964,rdiggrr@hc360.com,002ade0a-fad5-469b-ba55-fa6513224194

In [9]:
df3['state'] = df3['state-city'].str.extract(r'(^.*)-')
df3['city'] = df3['state-city'].str.extract(r'-(.*$)')
df3 = df3.drop('state-city',axis=1)
df3

,id,first_name,middle_name,last_name,zip,address_line_1,address_line_2,dob,email,guid,state,city
0,1.0,Jerrylee,Terrel,Sanchis,61614.0,4 Continental Trail,,11/20/1924,tsanchis0@google.cn,38b23627-9118-4180-b0d5-1396b8c99056,IL,Peoria
1,2.0,Florenza,Jethro,Shapera,16565.0,0259 Messerschmidt Street,,3/14/1923,jshapera1@howstuffworks.com,70f362c6-ad87-4e31-aa51-1f829fcdcebb,PA,Erie
2,3.0,Agustin,Juan,Mart,91499.0,3461 Bartillon Lane,Suite 26,12/19/1941,jmart2@yahoo.co.jp,6b4cf83d-a760-4546-9b2a-2bbe146007f3,CA,Van Nuys
3,4.0,Pammi,Renell,Ticic,19610.0,78266 Lien Road,PO Box 68671,8/2/1979,rticic3@php.net,31c21b5d-7cdd-4acd-8592-b156b2e519c7,PA,Reading
4,5.0,Conn,Tybalt,Sprasen,99215.0,4392 Duke Place,Suite 79,4/14/1966,tsprasen4@dagondesign.com,ecd3fec5-e4ec-45ff-91b0-bb0db86596a9,WA,Spokane
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996.0,Lionel,Iorgos,Haldon,33694.0,5001 Nova Park,,8/15/1943,ihaldonrn@foxnews.com,3de6451a-e05d-4076-99dc-23254748a4be,FL,Tampa
996,997.0,Josepha,Dorthy,Simmonite,53785.0,8604 Chinook Circle,Apt 415,12/7/1928,dsimmonitero@tiny.cc,21f2c2b9-97fd-4805-8db1-09c0db52d2a4,WI,Madison
997,998.0,Dredi,Clerissa,Ellerker,55423.0,03933 Mendota Court,,7/5/1966,cellerkerrp@who.int,253004a1-fe67-42e7-8182-c01e5d145e61,MN,Minneapolis
998,999.0,Shela,Lian,Garnsworth,14619.0,7 Upham Place,,10/4/1942,lgarnsworthrq@redcross.org,377c5a07-bdc2-4e9d-a9d3-2a53b3355242,NY,Rochester
999,1000.0,Esteban,Rosemonde,Digg,45403.0,4 Golf Course Terrace,,2/10/1964,rdiggrr@hc360.com,002ade0a-fad5-469b-ba55-fa6513224194,OH,Dayton

In [10]:
df3['zip'] = df3['zip'].astype(int)
df3

,id,first_name,middle_name,last_name,zip,address_line_1,address_line_2,dob,email,guid,state,city
0,1.0,Jerrylee,Terrel,Sanchis,61614,4 Continental Trail,,11/20/1924,tsanchis0@google.cn,38b23627-9118-4180-b0d5-1396b8c99056,IL,Peoria
1,2.0,Florenza,Jethro,Shapera,16565,0259 Messerschmidt Street,,3/14/1923,jshapera1@howstuffworks.com,70f362c6-ad87-4e31-aa51-1f829fcdcebb,PA,Erie
2,3.0,Agustin,Juan,Mart,91499,3461 Bartillon Lane,Suite 26,12/19/1941,jmart2@yahoo.co.jp,6b4cf83d-a760-4546-9b2a-2bbe146007f3,CA,Van Nuys
3,4.0,Pammi,Renell,Ticic,19610,78266 Lien Road,PO Box 68671,8/2/1979,rticic3@php.net,31c21b5d-7cdd-4acd-8592-b156b2e519c7,PA,Reading
4,5.0,Conn,Tybalt,Sprasen,99215,4392 Duke Place,Suite 79,4/14/1966,tsprasen4@dagondesign.com,ecd3fec5-e4ec-45ff-91b0-bb0db86596a9,WA,Spokane
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996.0,Lionel,Iorgos,Haldon,33694,5001 Nova Park,,8/15/1943,ihaldonrn@foxnews.com,3de6451a-e05d-4076-99dc-23254748a4be,FL,Tampa
996,997.0,Josepha,Dorthy,Simmonite,53785,8604 Chinook Circle,Apt 415,12/7/1928,dsimmonitero@tiny.cc,21f2c2b9-97fd-4805-8db1-09c0db52d2a4,WI,Madison
997,998.0,Dredi,Clerissa,Ellerker,55423,03933 Mendota Court,,7/5/1966,cellerkerrp@who.int,253004a1-fe67-42e7-8182-c01e5d145e61,MN,Minneapolis
998,999.0,Shela,Lian,Garnsworth,14619,7 Upham Place,,10/4/1942,lgarnsworthrq@redcross.org,377c5a07-bdc2-4e9d-a9d3-2a53b3355242,NY,Rochester
999,1000.0,Esteban,Rosemonde,Digg,45403,4 Golf Course Terrace,,2/10/1964,rdiggrr@hc360.com,002ade0a-fad5-469b-ba55-fa6513224194,OH,Dayton

In [13]:
df3["dob"] = pd.to_datetime(df3["dob"])
df3

,id,first_name,middle_name,last_name,zip,address_line_1,address_line_2,dob,email,guid,state,city
0,1.0,Jerrylee,Terrel,Sanchis,61614,4 Continental Trail,,1924-11-20,tsanchis0@google.cn,38b23627-9118-4180-b0d5-1396b8c99056,IL,Peoria
1,2.0,Florenza,Jethro,Shapera,16565,0259 Messerschmidt Street,,1923-03-14,jshapera1@howstuffworks.com,70f362c6-ad87-4e31-aa51-1f829fcdcebb,PA,Erie
2,3.0,Agustin,Juan,Mart,91499,3461 Bartillon Lane,Suite 26,1941-12-19,jmart2@yahoo.co.jp,6b4cf83d-a760-4546-9b2a-2bbe146007f3,CA,Van Nuys
3,4.0,Pammi,Renell,Ticic,19610,78266 Lien Road,PO Box 68671,1979-08-02,rticic3@php.net,31c21b5d-7cdd-4acd-8592-b156b2e519c7,PA,Reading
4,5.0,Conn,Tybalt,Sprasen,99215,4392 Duke Place,Suite 79,1966-04-14,tsprasen4@dagondesign.com,ecd3fec5-e4ec-45ff-91b0-bb0db86596a9,WA,Spokane
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996.0,Lionel,Iorgos,Haldon,33694,5001 Nova Park,,1943-08-15,ihaldonrn@foxnews.com,3de6451a-e05d-4076-99dc-23254748a4be,FL,Tampa
996,997.0,Josepha,Dorthy,Simmonite,53785,8604 Chinook Circle,Apt 415,1928-12-07,dsimmonitero@tiny.cc,21f2c2b9-97fd-4805-8db1-09c0db52d2a4,WI,Madison
997,998.0,Dredi,Clerissa,Ellerker,55423,03933 Mendota Court,,1966-07-05,cellerkerrp@who.int,253004a1-fe67-42e7-8182-c01e5d145e61,MN,Minneapolis
998,999.0,Shela,Lian,Garnsworth,14619,7 Upham Place,,1942-10-04,lgarnsworthrq@redcross.org,377c5a07-bdc2-4e9d-a9d3-2a53b3355242,NY,Rochester
999,1000.0,Esteban,Rosemonde,Digg,45403,4 Golf Course Terrace,,1964-02-10,rdiggrr@hc360.com,002ade0a-fad5-469b-ba55-fa6513224194,OH,Dayton

In [15]:
now = dt.now()

In [17]:
df3['age'] = (now - df3['dob']).astype('<m8[Y]')
df3.head()

,id,first_name,middle_name,last_name,zip,address_line_1,address_line_2,dob,email,guid,state,city,age
0,1.0,Jerrylee,Terrel,Sanchis,61614,4 Continental Trail,,1924-11-20,tsanchis0@google.cn,38b23627-9118-4180-b0d5-1396b8c99056,IL,Peoria,98.0
1,2.0,Florenza,Jethro,Shapera,16565,0259 Messerschmidt Street,,1923-03-14,jshapera1@howstuffworks.com,70f362c6-ad87-4e31-aa51-1f829fcdcebb,PA,Erie,100.0
2,3.0,Agustin,Juan,Mart,91499,3461 Bartillon Lane,Suite 26,1941-12-19,jmart2@yahoo.co.jp,6b4cf83d-a760-4546-9b2a-2bbe146007f3,CA,Van Nuys,81.0
3,4.0,Pammi,Renell,Ticic,19610,78266 Lien Road,PO Box 68671,1979-08-02,rticic3@php.net,31c21b5d-7cdd-4acd-8592-b156b2e519c7,PA,Reading,43.0
4,5.0,Conn,Tybalt,Sprasen,99215,4392 Duke Place,Suite 79,1966-04-14,tsprasen4@dagondesign.com,ecd3fec5-e4ec-45ff-91b0-bb0db86596a9,WA,Spokane,56.0

In [18]:
age_df = df3.loc[(df3["age"] >= 40) &
                (df3["age"] <= 60) , :]
age_df

,id,first_name,middle_name,last_name,zip,address_line_1,address_line_2,dob,email,guid,state,city,age
3,4.0,Pammi,Renell,Ticic,19610,78266 Lien Road,PO Box 68671,1979-08-02,rticic3@php.net,31c21b5d-7cdd-4acd-8592-b156b2e519c7,PA,Reading,43.0
4,5.0,Conn,Tybalt,Sprasen,99215,4392 Duke Place,Suite 79,1966-04-14,tsprasen4@dagondesign.com,ecd3fec5-e4ec-45ff-91b0-bb0db86596a9,WA,Spokane,56.0
9,10.0,Candide,Delmore,Tilliard,2203,037 Victoria Parkway,,1975-02-15,dtilliard9@google.it,ce10e8d7-2cce-47fe-92f8-82491d009a87,MA,Boston,48.0
10,11.0,Yovonnda,Edward,Maddrah,7112,7 Nova Drive,,1965-10-07,emaddraha@prnewswire.com,d5304d7c-e37e-49a2-aeb3-2d751e7b56c1,NJ,Newark,57.0
12,13.0,Tait,Tull,Gullis,30301,43 Maple Wood Junction,,1976-02-27,tgullisc@phoca.cz,e9e5dd8b-ddfd-4ae6-a5bd-e4614ff9161e,GA,Atlanta,47.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
981,982.0,Giacomo,Amberly,Pervew,85083,7 Prairieview Center,,1963-09-29,apervewr9@toplist.cz,9cd3ba51-89ba-45f4-bfb6-4e6b88fee466,AZ,Phoenix,59.0
985,986.0,Kevyn,Merv,Westmoreland,55564,19 Esch Alley,Apt 1541,1983-01-30,mwestmorelandrd@canalblog.com,0e107902-c176-4583-999e-f9908053bd31,MN,Young America,40.0
990,991.0,Steffie,Ettore,Batrop,80243,44 Lighthouse Bay Plaza,,1973-07-01,ebatropri@altervista.org,c05d3ae8-a5a3-4f3c-8590-93df77fa229d,CO,Denver,49.0
997,998.0,Dredi,Clerissa,Ellerker,55423,03933 Mendota Court,,1966-07-05,cellerkerrp@who.int,253004a1-fe67-42e7-8182-c01e5d145e61,MN,Minneapolis,56.0
999,1000.0,Esteban,Rosemonde,Digg,45403,4 Golf Course Terrace,,1964-02-10,rdiggrr@hc360.com,002ade0a-fad5-469b-ba55-fa6513224194,OH,Dayton,59.0

In [19]:
for index, row in age_df.iterrows():
    print(f"-------------{index}-------------")
    print(f"{row['first_name']} {row['middle_name']} {row ['last_name']}")
    print(f"{row['address_line_1']}")
    if row['address_line_2'] != "":
        print(f"{row['address_line_2']}")
    print(f"{row['city']}, {row['state']} {row['zip']}")

-------------3-------------
Pammi Renell Ticic
78266 Lien Road
PO Box 68671
Reading, PA 19610
-------------4-------------
Conn Tybalt Sprasen
4392 Duke Place
Suite 79
Spokane, WA 99215
-------------9-------------
Candide Delmore Tilliard
037 Victoria Parkway
Boston, MA 2203
-------------10-------------
Yovonnda Edward Maddrah
7 Nova Drive
Newark, NJ 7112
-------------12-------------
Tait Tull Gullis
43 Maple Wood Junction
Atlanta, GA 30301
-------------15-------------
Aymer Hunfredo McCreery
8 Artisan Drive
Phoenix, AZ 85083
-------------23-------------
Ariana Mair Comiam
7 Hoard Circle
PO Box 34663
Atlanta, GA 31119
-------------27-------------
Mirabelle Davidson Bonney
24 Sherman Place
Birmingham, AL 35244
-------------30-------------
Zola Livvie Pogson
536 Petterle Park
Los Angeles, CA 90065
-------------35-------------
Parnell Isa Dicks
17 Holmberg Way
Tucson, AZ 85705
-------------47-------------
Tammie Davie Foucar
5864 Artisan Road
7th Floor
Saint Augustine, FL 32092
-------------48-------------
Ambros Victoria Whitesel
62332 Kropf Avenue
Apt 1299
Saint Louis, MO 63126
-------------61-------------
Travers Myra Reckhouse
53 Meadow Valley Alley
PO Box 18012
San Diego, CA 92196
-------------63-------------
Dorri Norene Gerant
9 Fieldstone Street
Apt 1604
Sioux Falls, SD 57198
-------------64-------------
Dniren Merrily Winkless
92453 Chinook Center
Harrisburg, PA 17110
-------------66-------------
Jamal Celina Scuse
7012 Oakridge Avenue
Evansville, IN 47737
-------------70-------------
Micky Katie Fayerman
6 Michigan Terrace
Bakersfield, CA 93305
-------------72-------------
Franchot Kerk Oldis
1 Summer Ridge Circle
Room 1749
Conroe, TX 77305
-------------73-------------
Alexandr Rogers Izhaky
120 Mandrake Pass
PO Box 66100
Stockton, CA 95298
-------------77-------------
Saraann Tabitha Benettelli
4 Harbort Lane
New Brunswick, NJ 8922
-------------79-------------
Torrie Hyacinthia Sandifer
638 Crescent Oaks Park
Room 1274
Brooksville, FL 34605
-------------80-------------
Rae Bastian Crossgrove
1 Kropf Center
Apt 1629
Fresno, CA 93740
-------------92-------------
Pepita Clarabelle Hallgate
0910 Dorton Pass
Abilene, TX 79699
-------------98-------------
Allayne Randie Czajkowska
0080 Shopko Drive
Room 1271
Virginia Beach, VA 23454
-------------99-------------
Perkin Shirl Terrelly
2 Becker Circle
Apt 90
Houston, TX 77228
-------------102-------------
Morie Burnard Ruter
41832 Stephen Trail
Garden Grove, CA 92844
-------------104-------------
Cecily Coretta Voller
2754 Dawn Trail
16th Floor
Cincinnati, OH 45238
-------------105-------------
Harp Ferdy Peeke
730 Summer Ridge Road
Room 585
Houston, TX 77055
-------------112-------------
Hedvig Ronda Troyes
5 Ridge Oak Lane
20th Floor
Boston, MA 2298
-------------113-------------
Cherin Priscilla Penk
6 Pine View Center
Apt 19
Phoenix, AZ 85053
-------------117-------------
Tynan Quent Jockle
845 Rockefeller Street
Atlanta, GA 31165
-------------121-------------
Ileane Jaquith Videan
9344 Birchwood Hill
Cincinnati, OH 45296
-------------122-------------
Terrence Hollis Nowell
495 Elka Parkway
Boston, MA 2124
-------------124-------------
Jorie Mathias Cutford
9035 Independence Trail
Midland, TX 79705
-------------126-------------
Gilli Stefano Rayworth
9021 Grim Trail
PO Box 47285
Denver, CO 80299
-------------131-------------
Dulcia Thane Du Plantier
17556 Mallard Trail
Winston Salem, NC 27110
-------------137-------------
Mahalia Serene Habble
99 Dunning Center
Charleston, WV 25336
-------------139-------------
Gabriell Perla Bowes
0475 Crowley Hill
Colorado Springs, CO 80951
-------------140-------------
Eli Torr Wadelin
7 Carioca Parkway
Corpus Christi, TX 78470
-------------142-------------
Frankie Donaugh Presidey
6 Pine View Pass
Washington, DC 20442
-------------146-------------
Avrit Dorothee Gagan
166 Granby Park
Suite 94
Tucson, AZ 85748
-------------147-------------
Myrle Thornie Lowndsbrough
30631 Derek Park
Indianapolis, IN 46254
-------------150-------------
Derk Sigismundo Palfery
73839 Farwell Circle
PO Box 27688
El Paso, TX 79989
-------------152-------------
Lissy Ardra Leving
18 Tennyson Circle
19th Floor
Salt Lake City, UT 84105
-------------155-------------
Lucretia Bram Kneafsey
45253 Oak Valley Place
San Francisco, CA 94137
-------------156-------------
Shandeigh Emery Saggs
33109 Riverside Way
Shreveport, LA 71166
-------------158-------------
Dino Klemens Sides
036 Arapahoe Court
Room 113
Lake Charles, LA 70607
-------------161-------------
Pat Lorraine Burnitt
7 Messerschmidt Terrace
Suite 48
White Plains, NY 10606
-------------168-------------
Tiff Ranee Fleming
959 Michigan Point
Young America, MN 55564
-------------171-------------
Shantee Blondy Northgraves
607 Amoth Terrace
20th Floor
New Orleans, LA 70129
-------------172-------------
Margi Kassia Brunker
864 Onsgard Trail
Apt 1478
Washington, DC 20557
-------------174-------------
Feliks Wat Rivelon
712 David Pass
Suite 98
Evansville, IN 47732
-------------177-------------
Chaunce Ingra Kimbrey
56905 Almo Crossing
Room 967
Montgomery, AL 36134
-------------182-------------
Seward Don Wasiel
8 Dixon Lane
Anchorage, AK 99512
-------------183-------------
Rosemary Ewan Donovin
7328 Southridge Way
Madison, WI 53716
-------------184-------------
Calv Andree Samsworth
63989 Mosinee Avenue
Suite 31
Johnson City, TN 37605
-------------205-------------
Henri Regen Kristoffersen
27 Bartelt Drive
Evansville, IN 47732
-------------206-------------
Peder Ginny Rourke
852 Tony Point
Rockford, IL 61105
-------------208-------------
Novelia Rubia LeEstut
94597 Union Parkway
Orlando, FL 32868
-------------211-------------
Cherice Kimberly Strover
7 Iowa Circle
Milwaukee, WI 53215
-------------218-------------
Shoshanna Carolynn Garlett
45 Bayside Parkway
Room 162
Henderson, NV 89074
-------------219-------------
Karlan Raine Thiolier
1 Nobel Terrace
Stockton, CA 95298
-------------221-------------
Haley Padgett Hamsher
9255 Glendale Point
20th Floor
Hot Springs National Park, AR 71914
-------------227-------------
Marlo Maximilien Smellie
26114 Crownhardt Point
PO Box 90730
Baltimore, MD 21275
-------------231-------------
Nickey Hope Tisun
72800 Moose Circle
Washington, DC 20010
-------------232-------------
Ker Ahmad Hancke
30 Bowman Junction
Suite 13
Toledo, OH 43635
-------------239-------------
Emelita Arie Tyndall
8 Clarendon Avenue
Atlanta, GA 30386
-------------240-------------
Pennie Enos Zorzini
03393 Lyons Hill
Apt 55
Brooklyn, NY 11210
-------------247-------------
Elton Thedrick Ginner
8 Harbort Crossing
Tampa, FL 33673
-------------263-------------
Aubry Dolli McEvon
9 Lighthouse Bay Road
Suite 29
Reno, NV 89595
-------------273-------------
Aksel Nolan Jennaway
5870 Dexter Plaza
Huntington, WV 25726
-------------280-------------
Ursula Raoul Plunket
6188 2nd Alley
Apt 1983
Roanoke, VA 24040
-------------286-------------
Nerita Yoshi Klass
281 Lindbergh Circle
Fayetteville, NC 28305
-------------287-------------
Tessa Arnold Tooth
21036 Ronald Regan Parkway
Columbus, OH 43204
-------------288-------------
Nadiya Inger Ludee
7 Schmedeman Trail
4th Floor
Jackson, TN 38308
-------------289-------------
Candice Tybalt Saddleton
12362 Claremont Terrace
Saint Louis, MO 63126
-------------293-------------
Almeria Maybelle Dunnaway
0 Pine View Circle
Apt 1782
Odessa, TX 79769
-------------295-------------
Tresa Elena Spitaro
4 Heath Junction
PO Box 91280
Waltham, MA 2453
-------------298-------------
Ellswerth Christalle Christoffels
6449 Harper Crossing
Suite 32
Decatur, GA 30033
-------------309-------------
Dulcie Jessi Recke
40 Hoard Drive
20th Floor
Pittsburgh, PA 15274
-------------310-------------
Jolie Rosa Zienkiewicz
86653 Springs Point
Odessa, TX 79764
-------------313-------------
Land Silvio Rennison
31 Mendota Hill
Phoenix, AZ 85072
-------------317-------------
Sterling Dedra Rizzello
63295 Mallory Trail
Fresno, CA 93709
-------------319-------------
Dugald Abran Petry
774 Shelley Center
Apt 1588
South Lake Tahoe, CA 96154
-------------322-------------
Lem Shayla Murie
7901 Sunbrook Park
PO Box 54239
New York City, NY 10079
-------------325-------------
Roselin Keriann Durrad
8 Bluestem Terrace
PO Box 41643
Fort Lauderdale, FL 33320
-------------327-------------
Fayette Jocko Luigi
82 Aberg Street
Kent, WA 98042
-------------345-------------
Franciskus Lani Clemendot
8211 Tennessee Circle
Seattle, WA 98166
-------------349-------------
Steward Larisa Pentland
7 Continental Alley
Apt 1866
Muncie, IN 47306
-------------350-------------
Siobhan George Peaurt
1 Clarendon Terrace
Apt 1080
New Brunswick, NJ 8922
-------------351-------------
Riannon Wilfred Spinozzi
70895 Prairie Rose Court
Fort Collins, CO 80525
-------------358-------------
Dulcie Daphene Saura
1998 Cody Hill
Suite 87
Denver, CO 80270
-------------363-------------
Laraine Welsh Filinkov
239 Golden Leaf Point
Orlando, FL 32819
-------------364-------------
Myca Claretta Menendes
71 Porter Avenue
PO Box 91829
New Orleans, LA 70183
-------------367-------------
Ker Nelie Doone
6 Hauk Crossing
Charleston, WV 25326
-------------369-------------
Mace Laurianne Siburn
0 Sherman Circle
6th Floor
Kansas City, MO 64187
-------------378-------------
Corrianne Madelon Lakeland
0849 Sundown Alley
Topeka, KS 66642
-------------379-------------
Binni Sonia Gatrell
79 Dwight Point
10th Floor
Sacramento, CA 95838
-------------388-------------
James Clare Dibley
83040 Becker Pass
PO Box 1772
Orlando, FL 32854
-------------389-------------
Lindsay Terri Rowthorn
3197 Quincy Court
PO Box 91239
Oklahoma City, OK 73179
-------------393-------------
Gun Meggy von Grollmann
684 Lukken Court
Newark, NJ 7188
-------------395-------------
Fredek Ritchie Goatcher
913 Raven Parkway
Port Charlotte, FL 33954
-------------400-------------
Janey Riva Hazeltine
50467 Homewood Crossing
Lynchburg, VA 24515
-------------402-------------
Lela Duky Burgisi
931 Lukken Crossing
9th Floor
Chicago, IL 60663
-------------405-------------
Catina Allina Lowery
0164 Mariners Cove Street
Dallas, TX 75260
-------------407-------------
Reena Deborah Pass
7 Sunfield Circle
Roanoke, VA 24020
-------------413-------------
Nikkie Billi Paroni
00252 Straubel Center
Saint Louis, MO 63169
-------------414-------------
Freedman Ricki Pendrid
2707 Schurz Drive
Apt 1552
Houston, TX 77240
-------------417-------------
Genna Christiane Halfacree
171 Northview Junction
Washington, DC 20220
-------------421-------------
Emory Chicky Elijahu
2020 Buell Court
Terre Haute, IN 47812
-------------425-------------
Humberto Brear Danilowicz
02809 Farragut Parkway
5th Floor
Durham, NC 27705
-------------430-------------
Analise Lia Towers
615 Ramsey Hill
Houston, TX 77240
-------------437-------------
Kingston Garwin Alleburton
4806 Di Loreto Center
Grand Rapids, MI 49505
-------------438-------------
Ellie Giselle Palin
13154 Menomonie Alley
Flint, MI 48550
-------------439-------------
Lucine North Keson
740 Cottonwood Crossing
Room 1860
Fort Smith, AR 72916
-------------442-------------
Melanie Bette Helling
7 Anthes Street
Columbus, OH 43284
-------------445-------------
Celestyn Harp Casini
78771 Gina Drive
PO Box 39545
Cumming, GA 30130
-------------447-------------
Lethia Vally Asson
671 Kennedy Crossing
Garland, TX 75049
-------------449-------------
Tracy Novelia Stitson
4 Truax Center
Omaha, NE 68105
-------------454-------------
Lorine Sal Gutridge
53 Darwin Street
Room 710
Cincinnati, OH 45271
-------------455-------------
Mylo Bear Vahey
3 Coleman Place
PO Box 3832
Oklahoma City, OK 73109
-------------456-------------
Mara Gus Monday
3 Merry Drive
Apt 877
Detroit, MI 48224
-------------463-------------
Bellina Kirbee Raubenheimer
8 Buena Vista Hill
Room 1788
Charleston, WV 25331
-------------466-------------
Ashlie Arnuad Jedrzejewski
94 Walton Way
Suite 88
Pittsburgh, PA 15215
-------------471-------------
Wendel Emmott Astell
4 Ridge Oak Court
Farmington, MI 48335
-------------484-------------
Verne Godard Greenwell
11 Butterfield Court
PO Box 40565
Virginia Beach, VA 23459
-------------485-------------
Tonie Haskel Galia
91699 Ruskin Center
Lake Charles, LA 70616
-------------499-------------
Rosanna Webster Smardon
934 Mariners Cove Circle
Fort Smith, AR 72916
-------------503-------------
Floria Lezlie Elnor
058 Forest Run Street
Jamaica, NY 11436
-------------505-------------
Dolli Keelby Oag
0717 5th Trail
Erie, PA 16534
-------------507-------------
Jase Fernando O'Dowd
4 Pearson Way
PO Box 72746
El Paso, TX 79977
-------------514-------------
Aurea Ogdon Sharland
0968 Spaight Point
Apt 388
Kansas City, MO 64125
-------------522-------------
Randolph Belva Sandys
264 Oneill Point
Suite 92
Shawnee Mission, KS 66276
-------------526-------------
Mikey Sheppard Moline
7 Amoth Court
Fort Lauderdale, FL 33320
-------------534-------------
Jameson Kirby Itzkovitch
070 Swallow Junction
Room 284
Akron, OH 44321
-------------536-------------
Karolina Jonis Jaher
06549 Hintze Lane
Naples, FL 34114
-------------538-------------
Bettye Itch Bidewel
85 Independence Park
Green Bay, WI 54313
-------------539-------------
Chrissie Zacherie Olney
6 Hanover Hill
Madison, WI 53785
-------------541-------------
Garner Sherlock Margetson
9 Esker Street
Room 1207
San Antonio, TX 78296
-------------542-------------
Margo Giacopo Christopherson
641 Blaine Hill
12th Floor
Washington, DC 20425
-------------543-------------
Renaud Danny Urquhart
69155 Dakota Terrace
Apt 61
Amarillo, TX 79182
-------------545-------------
Marrilee Kerwinn Scotchmoor
03 Wayridge Way
Suite 66
Detroit, MI 48224
-------------546-------------
Lanie Melinde Jedrzej
67 Sullivan Lane
Room 884
Washington, DC 20557
-------------550-------------
Sacha Adolpho Vanichkin
1737 Pleasure Place
2nd Floor
Phoenix, AZ 85067
-------------552-------------
Rozalie Sibel Nehls
6 Norway Maple Lane
8th Floor
Reno, NV 89595
-------------554-------------
Modestine Kaela Cumbridge
74 1st Drive
Apt 1617
Boston, MA 2124
-------------558-------------
Roth Katherine Cleife
309 Sachs Court
20th Floor
Winston Salem, NC 27116
-------------563-------------
Rafa Guthrey Solloway
93302 Anhalt Point
Room 209
Missoula, MT 59806
-------------567-------------
Mellie Mercy Lindores
471 Ruskin Lane
PO Box 82931
Riverside, CA 92505
-------------569-------------
Rayshell Renaud Coundley
11 Main Hill
Raleigh, NC 27615
-------------571-------------
Ezri Weber Bremmell
93 Hoepker Alley
PO Box 818
Indianapolis, IN 46295
-------------574-------------
Janie Sam Tiron
7 Kim Plaza
Charlotte, NC 28215
-------------578-------------
Debby Derrik Hasell
4 Muir Crossing
El Paso, TX 88541
-------------580-------------
Johan Marilyn Dunbar
14 Spohn Pass
Lexington, KY 40576
-------------586-------------
Jeanelle Deloria Pech
9134 Southridge Junction
Suite 2
Austin, TX 78778
-------------594-------------
Esra Steve Coldbathe
29 Maple Wood Terrace
Miami, FL 33164
-------------600-------------
Raynell Jesse Lafee
476 Mendota Point
Apt 1075
El Paso, TX 88574
-------------609-------------
Evelina Noelyn Sarginson
018 Everett Avenue
Room 840
Des Moines, IA 50305
-------------612-------------
Eachelle Shadow De Benedetti
5340 Gina Terrace
Las Vegas, NV 89105
-------------613-------------
Hal Laina Crum
4 Anhalt Plaza
16th Floor
Huntington, WV 25775
-------------614-------------
Brandon Rosamond Preddle
14 Nancy Parkway
Rochester, NY 14604
-------------622-------------
Eddy Page Okker
2042 Jenna Terrace
Kansas City, MO 64193
-------------623-------------
Kathryne Vivianne Gaunson
2 Gale Way
Apt 447
Suffolk, VA 23436
-------------625-------------
Wrennie Jeni Worster
94 Lakeland Road
Phoenix, AZ 85045
-------------626-------------
Camile Vere MacKenny
6438 Mcguire Road
Pittsburgh, PA 15261
-------------630-------------
Lindsey Arnaldo Newgrosh
5654 Bluestem Avenue
New York City, NY 10260
-------------632-------------
Maybelle Dolf Beals
713 Northfield Hill
Lincoln, NE 68531
-------------633-------------
Nil Sunny Matussow
382 Birchwood Center
Flushing, NY 11388
-------------641-------------
Joelynn Winne Torald
62154 Merchant Lane
Suite 31
Newton, MA 2458
-------------645-------------
Briggs Lilllie Leele
74081 Dawn Street
Philadelphia, PA 19141
-------------651-------------
Farra Dee Leggen
3 Homewood Circle
Albany, NY 12222
-------------652-------------
Ronni Celestine Parchment
773 Moulton Street
New York City, NY 10029
-------------659-------------
Tadio Jayme Bascombe
2 Beilfuss Road
Troy, MI 48098
-------------666-------------
Adrian Erick Hoodlass
59 Logan Hill
Sacramento, CA 94245
-------------668-------------
Brina Arliene Mendes
68 Shopko Street
19th Floor
Fairbanks, AK 99709
-------------669-------------
Nerissa Siward Hancock
55 Paget Street
Chicago, IL 60697
-------------671-------------
Roda Leland Paull
79092 Quincy Plaza
Room 266
Minneapolis, MN 55480
-------------673-------------
Mortimer Jeno Roseborough
22 Stang Terrace
Des Moines, IA 50335
-------------675-------------
Franni Dun Glaister
3 American Junction
Cleveland, OH 44130
-------------677-------------
Hendrick Laureen Manby
1 Merchant Alley
Durham, NC 27705
-------------680-------------
Leah Danna Schellig
07 Talisman Court
Fargo, ND 58122
-------------681-------------
Shir Jobye Matussow
6 Lighthouse Bay Way
Madison, WI 53785
-------------686-------------
Phedra Natalee Dominiak
3 Hollow Ridge Alley
Apt 1606
Phoenix, AZ 85030
-------------687-------------
Gray Radcliffe Tresler
73774 Schlimgen Plaza
Suite 36
Miami, FL 33142
-------------713-------------
Lexis Gar Dumingos
8 Eagle Crest Drive
Room 1300
Tampa, FL 33633
-------------714-------------
Lyon Rosie Lankester
98173 Morning Point
Erie, PA 16505
-------------727-------------
Ronny Jany Tamplin
49566 Mitchell Trail
Suite 97
Saint Petersburg, FL 33742
-------------729-------------
Alejandra Tracee Ashwood
67712 Clove Trail
Suite 59
Columbus, OH 43284
-------------730-------------
Ellery Robinia Edlyn
2 Portage Lane
11th Floor
Saint Paul, MN 55172
-------------733-------------
Kearney Shara Loncaster
603 Orin Alley
Indianapolis, IN 46216
-------------735-------------
Darla Griswold Mellhuish
9145 Carey Alley
1st Floor
Carlsbad, CA 92013
-------------744-------------
Ricardo Brewster Bermingham
41 Lawn Crossing
Valley Forge, PA 19495
-------------747-------------
Alf Ella Pawlyn
11 Forest Dale Circle
Apt 1217
Monticello, MN 55585
-------------752-------------
Sasha Alexio Coopey
85 Bunting Trail
Apt 1674
Arlington, TX 76004
-------------756-------------
Didi Bronnie Keppin
18933 Ronald Regan Park
Houston, TX 77288
-------------759-------------
Claire Bram Syde
39 Crescent Oaks Lane
Suite 96
Kansas City, KS 66105
-------------761-------------
Alexei Gerianna Ren
635 Rusk Junction
PO Box 3053
Sacramento, CA 94291
-------------763-------------
Husain Herby Gasnoll
67994 Southridge Plaza
Apt 1709
Saint Petersburg, FL 33731
-------------765-------------
Karol Gertrude Stitson
201 Jay Hill
Room 1827
San Jose, CA 95173
-------------766-------------
Leeanne Baron Argente
50515 Warrior Pass
Nashville, TN 37215
-------------772-------------
Muire Bevon Glazzard
89 Melby Park
Washington, DC 20508
-------------773-------------
Curry Prudi McPeake
9199 Mifflin Court
Jefferson City, MO 65105
-------------777-------------
Adelaida Ariel Nieass
64 Tony Hill
Atlanta, GA 31119
-------------779-------------
Nick Chloette Cashmore
03494 Jana Road
Suite 79
Paterson, NJ 7544
-------------780-------------
Genvieve Meghann Stepto
49 Sachs Point
Colorado Springs, CO 80945
-------------782-------------
Gloriana Lilyan Koppe
13668 Old Gate Junction
Kansas City, KS 66160
-------------785-------------
Mirabel Victoir Stanlick
7 Dennis Place
Birmingham, AL 35254
-------------788-------------
Harp Dorene Tome
101 Heath Pass
New Orleans, LA 70179
-------------790-------------
Millie Odilia Filde
3705 Dakota Place
Room 1402
Peoria, IL 61656
-------------793-------------
Yolanthe Huntlee Skirving
50740 Del Mar Point
Suite 18
Harrisburg, PA 17126
-------------802-------------